body {
    background: #000;
    margin: 0;
    padding: 0;
    color: #fff;
    
}

nav {
    background: #2a2d33;
}

ul img{
    width: 22px;
    height: 28px;
}

#menu,footer {
    background: #1c1e21;
    width:100%;
}

#menu{
    height: 200px;
}

main {}

.container{

}

footer{
    text-align: center;
    padding: 10px;
    color: #fff;
}